.git
.github
.env
.env.*
node_modules
vendor
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/testing
storage/framework/views
bootstrap/cache/*.phpunit.result.cache
npm-debug.log
.DS_Store
